.firstScreen{
    background-image: url(" https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/2253193/settings_images/AH8foV72SkeMQJvgM1B0_Dancer_Final.jpg");
    background-position: center;
    background-size: cover;
}