.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #718979;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #2d4b41;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #2d4b41;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #718979;
}

/* Custom styles for the Swiper container */
.mySwiper {
  padding: 20px 0;
}

/* Ensure proper spacing for navigation buttons */
.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/* Ensure pagination bullets are properly spaced */
.swiper-pagination {
  bottom: 0;
} 